@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<span>Test Project Page = <a href="/project-page/3">Test Project</a></span>

<div>
	<ToolTip>
		<Tip>
			<div class='d-flex flex-column'><label>Hello</label><label>Hi</label></div>
		</Tip>
		<Content>
			Tooltip with HTML
		</Content>
	</ToolTip>
</div>
