@page "/project-page/{ProjectId}"

@using System.Security.Claims;

@inject AuthenticationStateProvider authenticationStateProvider;
@inject NavigationManager navManager;
@inject HttpClient httpClient;

<AuthorizeView>
	<NotAuthorized>
		<RedirectToLogin />
	</NotAuthorized>
</AuthorizeView>

<div>
	<h1>@ProjectDetails.Name</h1>

	<div>
		<span>
			@ProjectDetails.Description
		</span>
	</div>

</div>



@code
{
	[Parameter]
	public string ProjectId { 
		get{
			return this.Id.ToString();
		}
		set {
			int.TryParse(value, out int id);
			this.Id = id;
		}
	}
	private int Id { get; set; }
	private int UserId { get; set;}

	private Project ProjectDetails { get; set; } = new Project();

	protected override async void OnInitialized()
	{
		//Gets the User Id from the authenticationStateProvider
		AuthenticationState authenticationState = await authenticationStateProvider.GetAuthenticationStateAsync();
		Claim userIdClaim = authenticationState.User.Claims.Where(c => c.Type == ClaimTypes.Sid).FirstOrDefault();

		if (userIdClaim == default)
		{
			navManager.NavigateTo("/access-denied");
			return;
		}

		//Parses UserId from string to int
		int.TryParse(userIdClaim.Value, out int userId);
		this.UserId = userId;


		//Calls API to check if user is allowed to do this project
		bool permission = await httpClient.GetFromJsonAsync<bool>($"/api/Project/CheckPermission?UserId={UserId}&ProjectId={Id}");

		if (permission == false)
		{
			navManager.NavigateTo("/access-denied");
			return;
		}

		try
		{
			//Gets the project details from API
			ProjectDetails = await httpClient.GetFromJsonAsync<Project>($"/api/Project/GetProject?ProjectId={Id}");
			StateHasChanged();
		}
		catch
		{
			navManager.NavigateTo("/not-existant");
		}

		base.OnInitialized();
	}

}
