.page {
	overflow-x: hidden;
}

.description-container {
	min-height: 15vh;
}


.segment-label-container {
	grid-column: 1;
}


.add-segments-container {
	grid-column: 2;
	justify-self: right;
}

.add-segment-btn {
	width: 20vw;
}

.bttm-margin {
	margin-bottom: 1vh;
}
